body{
    background-color: #000000;
    font-family: 'Raleway', sans-serif; ;
}
.titulo{
    text-align: center;
    font-family:'Raleway', sans-serif;
    color:#ffffff ;
}

.footer{
    background-color: #1e1a13;
    color: #ffffff;
    text-align: center;
    height: 300px;
}

.pie.de.pagina{
    color: #ffffff;
    background-color: #1e1a13;
    height: 30px;
    text-align: center;
}
ul{
    height: 30px;
}
ul li{
    display: inline-block;
    padding: 20px 20px;
}
ul li a{
    text-decoration: name;
    color: #ffffff;
}
.container.img{
    margin: 10%;
    height: 100px;
}